/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.navbar-custom {
  border-radius: 10px;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
}

table,
th,
td {
  width: 50%;
  border: 1px solid green;
  padding: 1rem 2rem;
}

.user-pic {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  z-index: -1;
}

.posts_title {
  display: inline;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body > div:last-child {
  margin-bottom: 2rem;
}

.user_name-div {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  box-shadow: 0 2px 4px #eee;
  padding: 1rem;
  margin: 2rem;
}

.user_name {
  float: left;
}

.bio {
  border: 0;
  border: none;
}

.user-photo {
  width: 20%;
  height: auto;
  align-self: stretch;
  border: 2px solid black;
  background-color: #eee;
}

.btn-div {
  width: 100%;
  text-align: center;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.comment-like {
  width: 7rem;
  height: 100%;
  margin: 1rem;
}
.author {
  display: inline-block;
}

@media only screen and (max-width: 500px) {
  .user-photo {
    width: 50%;
  }
}
